/* work sans font from google fonts */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700&display=swap');

* {
    font-family: 'Work Sans', sans-serif;
}

/* shared styles */
.btn-primary {
    border: none;
    border-radius: 8px;
    background: #FF900E;
    color: #FFF;
    font-size: 1.25rem;
    margin: 20px 0;
    font-weight: 600;
    padding: 20px 24px;
    cursor: pointer;
}

.text-lightGray {
    color: #727272;
    font-size: 1rem;
}

/* header styles  start*/
header {
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    display: flex;

}

nav li {
    list-style: none;
    margin-right: 30px;
    font-weight: 500;
    font-size: 1rem;
}

nav li a {
    text-decoration: none;
    color: #424242;
    text-align: center;
}

nav li a:hover {
    color: #FF900E;
}

.nav-title {
    color: #131313;
    font-weight: 700;
    font-size: 2.8rem;
}

/* header style end */

/* banner styles */
.banner-content {
    max-width: 860px;
    text-align: center;
    margin: 0 auto;
}

.banner-title {
    color: var(--Dark-01, #131313);
    font-size: 4rem;
    font-weight: 700;
}




.banner img {
    width: 100%;
}

.btn-primary:hover {
    color: #000000;
}

/* banner style end */

/* main style */
main {
    max-width: 1440px;
    margin:70px auto;
    
}

.teams-container {
    display: flex;
    align-items: center;

}

.teams-imag-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}

.teams-details-container {
    padding-left: 4.5rem;
}

.quick {
    color: #727272;
    font-size: 2.8rem;
    font-weight: 500;
}

.our {
    color: #131313;
    font-size: 2.8rem;
    font-weight: 700;
}
.features{
    color: #FF900E;
    font-size: 2.8rem;
font-weight: 700;
}


/* responsive style */
/* for small device */
@media screen and (max-width:576px) {
    header {
        padding: 1.5rem;
    }

    nav,.teams-container,.teams-container {
        flex-direction: column;
    }
    .teams-imag-container{
        grid-template-columns: repeat(1, 1fr);
    }
    .teams-details-container {
        padding-left: 2rem;
        padding-right: 2rem;
    }
}

/* for medium device */
@media screen and (min-width:576px) and (max-width:960px) {
    header {
        padding: 40px;
    }

    nav,.teams-container{
        flex-direction: column;
    }
    
}